<h1>This info is for trip <%= @trip.id %> </h1>
<% @trip.trails.each do |trail| %>
  <%= trail.name %><br>
  <%= trail.address %><br>
  <%= trail.length %><br>
<% end %>

<h1>Planned Hiking Distance: <%= @trip.total_hiking_distance %></h1>
<h1>Average Hiking Distance: <%= @trip.average_hiking_distance %></h1>
<h1>Longest Hiking Distance: <%= @trip.longest_hiking_distance %></h1>
<h1>Shortest Hiking Distance: <%= @trip.shortest_hiking_distance %></h1>
